.wrapper-class {
    padding: 1rem;
    border: 1px solid rgb(235, 234, 234);
  }
  .editor-class {
    background-color:rgb(252, 252, 252);
    height: 250px;
    padding: 1rem;
    
    border: 1px solid rgb(235, 234, 234);
  }
  .toolbar-class {
    border: 1px solid rgb(235, 234, 234);
  }

 