<p>Xin chào {{ name }},</p>
<p>Bạn vừa yêu cầu lấy lại mật khẩu của tài khoản {{ email }} tại công ty {{ tenant }}</p>
<p>Nhấn vào link sau để tạo mật khẩu mới:</p>
<p>
    <a href="{{ url }}">Tạo mật khẩu mới</a>
</p>

<p>Nếu bạn không yêu cầu lấy lại mật khẩu, hãy bỏ qua email này</p>
