<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<httpRuntime requestValidationMode="2.0" fcnMode="Single" enableVersionHeader="false" maxRequestLength="812000" />
		<compilation debug="true" optimizeCompilations="false" />
		<caching>
		  <outputCacheSettings>
			<outputCacheProfiles>
			  <add name="ClientResourceCache" enabled="true" duration="3600" varyByParam="*" varyByContentEncoding="gzip;deflate" />
			</outputCacheProfiles>
		  </outputCacheSettings>
		</caching>
		<authentication mode="None"></authentication>
		<membership>
		  <providers>
			<clear />
		  </providers>
		</membership>
		<roleManager enabled="false">
		  <providers>
			<clear />
		  </providers>
		</roleManager>
		<httpModules></httpModules>
	</system.web>
    <system.webServer>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
		  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
		  <dynamicTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/javascript" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </dynamicTypes>
		  <staticTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/javascript" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </staticTypes>
		</httpCompression>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
		  <remove name="WebDAVModule" />
		</modules>
		<staticContent>
		  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
		  <remove fileExtension=".webp" />
		  <mimeMap fileExtension=".webp" mimeType="image/webp" />
		  <remove fileExtension=".woff" />
		  <remove fileExtension=".woff2" />
		  <remove fileExtension=".eot" />
		  <remove fileExtension=".ttf" />
		  <remove fileExtension=".otf" />
		  <remove fileExtension=".svg" />
		  <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		  <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		  <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
		  <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
		  <mimeMap fileExtension=".otf" mimeType="application/font-sfnt" />
		  <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<caching>
		  <profiles>
			<add extension=".gif" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
			<add extension=".png" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
			<add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
			<add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
			<add extension=".jpg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
			<add extension=".jpeg" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
		  </profiles>
		</caching>
		<handlers>
		  <!-- <remove name="ExtensionlessUrlHandler-Integrated-4.0" /> -->
		  <!-- <remove name="OPTIONSVerbHandler" /> -->
		  <!-- <remove name="TRACEVerbHandler" /> -->
			<clear />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DELETE,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule" resourceType="Either" requireAccess="Read" />
		</handlers>
        <rewrite>
            <rules>
				<rule name="Reverse Proxy to GW" stopProcessing="true">
					<match url="^services/(.*)$" />
					<action type="Rewrite" url="http://localhost:9890/services/{R:1}" logRewrittenUrl="true" />
				</rule>
				<rule name="Reverse Proxy to GW authenticate" stopProcessing="true">
					<match url="^api/authenticate$" />
					<action type="Rewrite" url="http://localhost:9890/api/authenticate" logRewrittenUrl="true" />
				</rule>
				<rule name="redirect all requests" stopProcessing="true">
				  <match url="^(.*)$" ignoreCase="false" />
				  <conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
				  </conditions>
				  <action type="Rewrite" url="index.html" appendQueryString="true" />
				</rule>
            </rules>
        </rewrite>
		<!-- Increase the default upload file size limit -->
		<security>
		  <requestFiltering>
			<requestLimits maxAllowedContentLength="812000000" />
		  </requestFiltering>
		</security>
    </system.webServer>
</configuration>
